.login-form {
    width: 300px;
    margin: 0 auto;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0079bf;
    border: none;
    cursor: pointer;
}
.login-form button:hover {
    background-color: silver
}