.register-form {
    width: 300px;
    margin: 0 auto;
}

.register-form label {
    width: 300px;
    display: block;
    margin-bottom:10px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
}

.register-form button {
    width: 100%;
    padding:10px;
    background-color: #0079bf;
    border: none;
    cursor: pointer;

}    

.register-form button:hover {
    background-color: silver

}