.App {
  display: flex;
  flex-direction: column;
}


.TopNav {
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.containerLeft, .containerRight, .content {
  display: flex;
  width: 100%; }


.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column; /* zmiana flex-direction na row */
}

.leftMenu {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.rightMenu {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
.extraContent {
  flex-grow: 1;
}

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

 nav {
  background-color: black;
}
ul {
  display:flex;
  list-style: none;
}

li {
  flex-grow: 1;
}

a {
  display: block;
  font-family:arial;
  text-align: center;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid black;
}

a :hover {
  color:yellow;
}

section {
  padding-top: 30px;
  text-align: center;
}

.active {
  border-bottom-color: yellow;
}
